.TodoList{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.Liste {
  text-align: left;
  display: block;
  font-size: large;
}

.TodoList input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  font-family: Verdana;
}

.TodoList button {
  background: #757171;
  padding: 10px 20px 10px 20px;
  font-family: Verdana;
  color: #ffffff;
}
.TodoList .TodoForm {
  padding-left: 0;
  width: 300px;

}


.TodoList .TodoForm li {
  list-style: none;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-family: Verdana;
  background-color: #757171;
  color: #ffffff;
}
